{% extends 'staff/base.html' %}
{% block content %}
<div id='containerForm'>
    <center>
        <h2>Car search</h2>
        Pick a specific {{car_field}}
        {% if car_field_values_list %}
        <table>
            <tr>
                <th>{{car_field}}</th>
            </tr>

            {% for store in car_field_values_list %}
            <tr>
                <td><a href="{{ store.0 }}/">{{ store.0 }}</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No {{car_field}} are available.</p>
        {% endif %}

    </center>
</div>

{% endblock %}
