<html> <!--ABANDONED-->
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
    {% if user.is_authenticated %}
<body>
    <div id='header'>
        CRC
    </div>
    {% include "staff/nav.html" %}
    <h2>New Customer Form</h2>
    <div id='containerForm'>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
    {% else %}
    <h2> Please login as Staff to access this page </h2>
    <div>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            {{ form.username.label_tag }}
            {{ form.username }}

            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.non_field_errors }}
            <!-- form.errors -->

            <input type="submit" value="Login">
        </form>
    </div>
</body>
{% endif %}

</html>