<style>
    html {
        font-family: sans-serif;
    }

    h2 {
        text-align: center;
    }

    input[type=text], input[type=password] {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
    }

    input[type=submit] {
        width: 10%;
        background-color: mediumpurple;
        color: white;
        padding: 7px 14px;
        margin: 8px 0;
        border: none;
        border-radius: 8px;
    }

        input[type=submit]:hover {
            background-color: rebeccapurple;
        }

</style>
{% extends 'staff/base.html' %}
    {% block authentication %}
    {% endblock %}

    {% block content %}
        <h2>Login</h2>
<div id='containerForm'>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <center>
            <p>
                {{ form.username.label_tag }}
                {{ form.username }}
            </p>


            <p>
                {{ form.password.label_tag }}
                {{ form.password }}
            </p>

            {{ form.non_field_errors }}


            <!-- form.errors -->

            <input type="submit" value="Login">
        </center>
    </form>
</div>
    {% endblock %}

    {% block notloggedin %}
    {% endblock %}
